/* .menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: 0;
    transform: translateX(-130%);
    transition: all 1s;
} */

.Menu {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.menu.active{
    position: fixed;
    width: 20vw;
    height: 100vh;
    left: 0;
    transform: translateX(0);
    transition: all 0.4s;
    z-index: 1;
}


.menu_content {
    font-size: 1.5rem;
    height: 100%;
    background-color: whitesmoke;
}

.menu.active {
    display: inline-block;
    vertical-align: center;
}

/*.blur {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    left: 30%;*/
/*    backdrop-filter: blur(2px);*/
/*    position: absolute;*/
/*}*/

.menu_content {
    background-color: rgb(0, 40, 71);
    /* background-color: #091583de; */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
    z-index: 999999;
}

.menu_header {
    /*font-size: 2rem;*/
    /*font: small-caps 24px/1 sans-serif;*/
    font-size: 2.4rem;
    /* color: black;
    color: black;
    padding: 10px;
    border-bottom: 2px solid #034ac1;
    border-bottom: 2px solid #034ac1; */
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
    width: 100%;
    /*text-align: center;*/
}

.side-menu-item {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    /*color: white;
    text-decoration: none;
    font-size: 1.2rem;*/
    /* color: black;
    text-decoration: none;
    font-size: 1.5rem; */
}

.side-menu-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.menu-list {
    /* border-bottom: 2px solid white; */
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.toolBar-items-list {
    font-size: 1.3rem;
    text-align: end;
    margin-right: 35px;
}

.ToolBar {
    display: flex;
    position: absolute;
    background-color: lightgray;
    /*border-top: 1px solid white;*/
}

#logoutBtn {
    border: 1px;
    /*background-color: #3a47c0;*/
    /* background-color: #293393; */
    color: black;
    font: small-caps 24px/1 sans-serif;
    position: relative;
    width: 100%;
}

a {
    color: black;
}


.AppLogo {
    right: 1%;
    /*display: flex;*/
    /*position: fixed;*/
    width: 10%;
    margin-right: 45px;
    margin-left: 10px;
    /*background-color: white;*/

}

ul li a {
    font: small-caps 24px/1 sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}


/*=======*/
/*ul li a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    font-size: 1.2rem;*/
/*}*/

/*ul li {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin: 10px 0;*/
/*}*/

/*ul {*/
/*    text-align: center;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/
.material-symbols-rounded-menu-items {
    color: white;
    margin-left: 10px;
}


.material-symbols-rounded {
    font-size: 1.3;
    margin-left: 10px;
}

.mdc-touch-target-wrapper {
    width: 80vw;
    margin-left: 20vw;
}


@media screen and (max-width: 768px) {
    .menu_content {
        width: 100%;
    }

    .blur {
        backdrop-filter: none;
    }
}
