.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: 0;
    transform: translateX(-130%);
    transition: all 1s;
}

.Menu {
    width: 300px;

    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

<<<<<<< HEAD
.menu.active{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: 0;
    transform: translateX(0);
    transition: all 0.4s;
}

.blur {
   width: 100vw;
   height: 100vh;
   left: 30%;
   backdrop-filter: blur(2px);
   position: absolute;
 }

.menu_content {
    font-size: 1.5rem;
    /* border: solid #034ac1; */
    width: 20%;
    height: 100%;
    background-color: whitesmoke;
=======
.menu.active {
    transform: 0;
    display: inline-block;
    vertical-align: center;
    height: 100%;
}

/*.blur {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    left: 30%;*/
/*    backdrop-filter: blur(2px);*/
/*    position: absolute;*/
/*}*/

.menu_content {
    height: 100%;
    background-color: black;
>>>>>>> d7126279bb8dd3176d1b255167b07323d1bb9a5c
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
<<<<<<< HEAD
    z-index: 999999;
=======
>>>>>>> d7126279bb8dd3176d1b255167b07323d1bb9a5c
}

.menu_header {
    font-size: 2rem;
<<<<<<< HEAD
    color: black;
    padding: 10px;
    border-bottom: 2px solid #034ac1;
=======
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
>>>>>>> d7126279bb8dd3176d1b255167b07323d1bb9a5c
    width: 100%;
    text-align: center;
}

.side-menu-item {
<<<<<<< HEAD
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
=======
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
>>>>>>> d7126279bb8dd3176d1b255167b07323d1bb9a5c
}

.side-menu-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.menu-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

<<<<<<< HEAD
ul li a {
   color: black;
   text-decoration: none;
   font-size: 1.2rem;
}
=======
/*ul li a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    font-size: 1.2rem;*/
/*}*/
>>>>>>> d7126279bb8dd3176d1b255167b07323d1bb9a5c

/*ul li {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin: 10px 0;*/
/*}*/

/*ul {*/
/*    text-align: center;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

.material-symbols-rounded {
<<<<<<< HEAD
    color: black;
=======
    color: white;
>>>>>>> d7126279bb8dd3176d1b255167b07323d1bb9a5c
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .menu_content {
        width: 100%;
    }

    .blur {
        backdrop-filter: none;
    }
}
